<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Quit Now</title>
    <style type="text/css">

      .main {
        font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
      }
      .footer-text {
        font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
      }
      .footer-nav-left {
        font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
      }
    </style>
  </head>
  <body id="body">
    <div id="center">
      <div id="main">
        <div class="email-container" style="width: 600px; margin: 0 auto">
          <table width="100%" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td class="container-cell">
                <table class="content" align="center" cellpadding="0" cellspacing="0" width="600">
                  <tbody>
                    <tr>
                      <td class="header">
                        <a href="{{ base_url }}" style="color:#167ab8" target="_blank">
                        <img src="{{ base_url }}/themes/qn2020/images/email/header.jpg" alt="Quitnow" style="width:100%;height:auto"></a>
                      </td>
                    </tr>
                    <tr>
                      <td class="main" id="main">
                        <div>
                        <br />
                        {{ body|raw }}
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="footer" style="padding-top: 24px">
                        <table class="footer-nav-table" width="100%" cellpadding="0" cellspacing="0">
                          <tbody>
                          <tr>
                            <td class="footer-nav-left">
                              <a href="{{ base_url }}/privacy" style="color:#167ab8;margin-right:12px" target="_blank">Privacy policy</a>
                              <a href="{{ base_url }}/contact-us" style="color:#167ab8;margin-right:12px" target="_blank">Contact us</a>
                            </td>
                            <td class="footer-nav-right" style="text-align:right">
                              <a href="https://www2.gov.bc.ca" style="color:#167ab8;margin-left:12px" target="_blank">
                              <img src="{{ base_url }}/themes/qn2020/images/email/gov-logo.png?v=1.0.8" alt="Province of British Columbia"></a>
                              <a href="https://bc.lung.ca" style="color:#167ab8;margin-left:12px" target="_blank">
                              <img src="{{ base_url }}/themes/qn2020/images/email/lung-logo.png?v=1.0.8" alt="The Lung Association"></a>
                            </td>
                          </tr>
                          <tr>
                            <td class="footer-text" colspan="2"><a href="{{ base_url }}" style="text-decoration:none;color:inherit;color:#167ab8;text-decoration:none;color:inherit" target="_blank">BC Lung Association, 2675 Oak Street, Vancouver, BC, V6H 2K2</a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
